HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local Testing ###
src/local-test/java/classes/
src/local-test/java/generated*
src/local-test/java/maven-status/
src/local-test/java/surefire
src/local-test/java/surefire-reports/
src/local-test/java/test-classes/
src/local-test/java/jacoco.exec